/* login page */
.logo-image {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 1rem
}

.login-container {
    background-color: #09B464;
}

.google-login {
    position: relative;
    bottom: 3px;
}

.form-outline {
    position: relative;
    bottom: 3px;
}

/* classes page */

.course-name {
    padding-bottom: 5px;
}

.form-div {
    padding-bottom: 10px;
}